/* Subscribe */
.cta-section {
    background-color: #ff6b6b27;
    padding: 40px 0;
    margin-top: 25px;
    text-align: center;
}

.cta-section h2 {
    font-size: 28px;
    margin-top: 15px !important;
}

.disclaimer {
    font-size: 12px;
    margin-top: 25px;
}
form {
    margin-top: 20px;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 275px;
    grid-gap: 15px;
}

form input {
    padding: 10px 10px;
}

.cta-section p {
    text-transform: capitalize;
}

.cta-section button {
    background-color: rgb(255, 154, 171);
    color: white;
    border: 2px solid #000;
    padding: 15px 25px;
    margin-top: 45px;
    border: none;
    text-transform: uppercase;
}

.cta-section button:hover {
    background-color:  rgba(255, 154, 171, 0.678);
    color: red;
    border: none;
}