/* Footer */
footer {
    background-color: #ff6b6b85;
    padding: 40px 0;
    text-align: center;
}

.social-media-links {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.social-media-links img {
    width: 1em;
    height: 1.5em;
    margin: 0 1em;
}

footer h4 {
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 0.6em;
}