/* header & navbar styles */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #ff6b6b85;
    align-items: center;
    padding: 20px 20px;
    margin-bottom: 25px;
}

.blog-logo {
    padding: 15px;
    margin-left: 25px;
    width: 350px;
    height: auto;
}

nav {
    display: flex;
    justify-content: space-between;

    font-size: 24px;
}

nav a {
    color: #7d6baf;
    text-decoration: none;
    padding: 25px;
    font-weight: bold;
}

nav a:hover {
    color: white;
}