@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap);
@import url(../css/header.css);
@import url(../css/main-posts.css);
@import url(../css/more-posts.css);
@import url(../css/blog-post.css);
@import url(../css/cta.css);
@import url(../css/footer.css);

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
    background: #7d6baf;
}

body {
  margin: 10px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: rgb(255, 212, 219);
}

main {
    margin-left: 55px;
    
}
img {
  max-width: 100%;
}

h1 {
    font-family: 'IBM Plex Mono', monospace !important;
    font-weight: bolder;
	font-family: monospace;
	font-weight: 400;
	text-transform: capitalize;	
    font-size: 54px;
}

.heading {
    margin-bottom: -25px;
    position: relative;
    color: whitesmoke;
}

.sweethearts {
    margin-top: -35px;
    text-align: center;
    color: whitesmoke;
}
h1,
p {
  margin: 0 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(34, 33, 33);
}

h2  {
    font-family: 'IBM Plex Mono', monospace;
    color: rgba(255, 0, 0, 0.527);
    text-align: center;
    margin-top: 125px;
    margin-bottom: 25px;
    font-size: 48px;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}




/* /*  Improving Grid Layout
-------------------------------------------- */

@supports (display: grid) {
	.C main {
		grid-template-columns: 1fr minmax(100px, 400px) minmax(100px, 400px) min-content;
	}
	.C h2 {
		align-self: end;
	}
}

