@import url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
@import url(/assets/css/header.css);
@import url(/assets/css/main-posts.css);
@import url(/assets/css/more-posts.css);
@import url(/assets/css/blog-post.css);
@import url(/assets/css/cta.css);
@import url(/assets/css/footer.css);

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: rgba(255, 192, 203, 0.753);
  color: #444;
}

img {
  max-width: 100%;
}

h1,
p {
  margin: 0 0 1em 0;
}

h2  {
    color: rgba(255, 0, 0, 0.527);
    text-align: center;
    margin-bottom: 2em;
    font-size: 32px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}
