
/* MAIN BODY STYLE */

.blog {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas: "header header"
                          "main sidebar"
                          "footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}


  /* MY BLOG STYLES */
  body {
    height: 100%;
    margin: 0;

  }
  
  header,
  main,
  aside,
  footer {
    padding: 5px;
    margin: 5px;
    background-color: rgba(240, 128, 128, 0.548);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header ul li {
      display: inline-block;
  }
